.list-block .item-media {
    min-width: 0px;
}

.swiper-container {
    height: 100%;
}
.swiper-slide {
    background-image: url("../img/background/slider.jpg");
}
.swiper-slide span {
    text-align:center;
    display:block;
    margin:20px;
    font-size:21px;
}

.login-screen
{
    color:white;
}


